@tailwind utilities;
@tailwind base;
@tailwind components;

* {
  font-family: "Poppins", serif;
  line-height: 1.5;
}

body {
  ::selection {
    background-color: #b98138;
    color: white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  cursor: default;
}

.ai-message strong {
  font-weight: 600;
  color: aliceblue;
}

.ai-message p:has(strong) {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}