@tailwind utilities;
@tailwind base;
@tailwind components;

* {
  font-family: "Poppins", serif;
}

body {
  ::selection {
    background-color: #b98138;
    color: white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  cursor: default;
}